body{
    width:100%;
    font-family:'Segoe UI';

    display: grid;
    place-items: center;
}
#main{
    width:100%;
    background:#f0f0f0;
    
    text-align:center;

    padding:25px 0;
    margin:15px 0px;

    border-radius:5px;
}
#title{
    font-size:40px;
}
#img-div{
    width:97%;

    background:#fff;
    padding:5px;
    margin:15px;
}
img{
    max-width:100%;
}
#tribute-info{
    display:grid;
    place-items: center;
    font-weight:400;
}
#tribute-info h3{
    padding-top:20px;
}
#tribute-info ul,#tribute-info p{
    max-width:550px;
    text-align:left;
}
#tribute-info ul{
    line-height:2.2;
    
    font-size:16px;
}
#tribute-info p i:nth-of-type(2){
    display:block;
    margin-top:20px;
}
a,a:active {
    color:plum;
}